*{
 font-family: Arial;
}

.boton {
    background-color: crimson; 
    color:white;
    border: 1px solid crimson;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
}